.ItemContainer {
    margin: 2px 5px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor:pointer;
}

.ItemBox {
    display: flex;
    background-color: #fff;
}

.ItemBox span {
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 600;
}

.ItemBox p {
    padding: 10px;
    text-transform: capitalize;
}

.ItemBox p:hover {
    color: orange;
    cursor: pointer;

}

.ItemBox span:hover {
    background-color:orange;
    color: #fff;
}
