.name{
    
    height: 15px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #C1C1C4;
 
    margin-left: 44.11px;
   
}
.name span{
    width: 99px;
height: 30px;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 24px;
/* background-color: #fff; */
color: black


















;
/* line-height: 30px; */
/* identical to box height */


}