.sidebar {
    background: #FFFFFF;
    width: 6%;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;


}


img{
    /* margin: 1rem; */
    width: 45px;

}
.icons ul li{
    margin-top: 25px;
    list-style: none;
    padding-right: 40px;
    

}
.icons ul li a{
    text-decoration: none;
    color: black;
}
.cart{
    position: relative;
    background-color:#F9A109;
    width: 50px;
    border-radius: 25px;
    /* margin-bottom: 40px;  */
    color: #FFFFFF;
    height: 50px;
}
.box{
    width: 30px;
    /* text-align: center; */
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: #EB5757;
    left: 50%;
    top: -20%;
    display: flex;
    justify-content: center
   
}
.itemNum{
    position: absolute;
    top: 12%;
}