.container {
  height: 100%;
}

.heading {
  margin: 30px 0px 0px 30px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #34333a;
}
.headingTwo {
  margin: 55px 0px 0px 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.mainList {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  margin: 20px 30px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  
}
.listHeading {
  margin: 15px 7px 15px 25px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.listItems span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-left: 20px;
  
  color: #c1c1c4;
}
.listItems button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  background: none;
  border: 1px solid #56ccf2;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 20px;
  color: #56ccf2;
}
.listItems .btn{
 font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  width: 80px;
  background: none;
  border: 1px solid #EB5757;;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 20px;
  color: #EB5757;
}
